<p id="notice"><%= notice %></p>

<div class="row">
  <% @posts.each do |post| %>
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <%= image_tag post.image.url(:medium) if post.image? %>
      <div class="caption">
        <h5><%= link_to post.title, post_path(post) %></h5>
        <p><%= post.user.name %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>


