
<div class="row">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag post.image.url(:big) if post.image? %>
        <div class="caption">
          <h5><%= post.title %></h5>
          <p>By: <%= link_to post.user.name, user_path(post.user) %></p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


