<p id="notice"><%= notice %></p>

<div class="row">
    <div class="thumbnail">
      <%= image_tag @post.image.url if @post.image? %>
      <div class="caption">
        <h4><%= @post.title %></h4>
        <p>Made by: <%= link_to @post.user.name, user_path(@post.user) %></p>
      </div>
    </div>
</div>
